<table class="compact-item">
<tr>
	<td width="60" class="command-panel">
		<a action="select" title="Select this template"><img src="img/icons/save.gif"/></a>
		<a action="configuration" title="View configuration XML"><img src="img/icons/xml.jpg"/></a>
	</td>
	<td width="500">
		<%=data.name%>
	</td>
	<td width="100">
		<%=data.validation %>
	</td>
</tr>
</table>