<table class="compact-item">
	<tr><td>
		<%=data.LastName%> <%=data.Initials%>
	</td>
	<td class="command-panel">
		<a action="select">[select]</a>
		<a action="delete">[delete]</a>
	</td>
	</tr>
</table>