Filtered by substructure:
<a href='javascript:void()' onclick='moleculeBrowser.fragSearch(<%=data%>); return false;'>
	<img id='<%=data%>' src='depiction.jsp?id=<%=data%>' width='50' height='50' />
</a>
<input class="invisible" type="hidden" value='<%=data%>' filter='1' name='fragSearch'/><br/>
<a href='javascript:void()' onclick='moleculeBrowser.fragSearch(); return false;'>
	[clear substructure filter]
</a>
