<table class="compact-item">
<tr>
<td width="80" class="command-panel">
	<a action="select" title="select"><img src="img/icons/save.gif"/></a>
	<a action="prompt_edit" title="Rename this option" class="no-trash"><img src="img/icons/edit.gif"/></a>
	<a action="delete" title="Delete this option"><img src="img/icons/delete.gif"/></a>
</td>
<td>
	<%=data.name%>
</td></tr>
</table>
